In [12]:
import pandas as pd
import numpy as np
import os

# 改变工作目录 
os.getcwd()
os.chdir(os.getcwd()+'./leads/')
os.getcwd()

WindowsError: [Error 2] : 'D:\\PycharmProjects\\kaggle_start\\leads./leads/'

In [14]:
df = pd.read_csv('./leads_info_20170910', sep='\t')
df.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>f_sys_assign_day</th>
      <th>f_internal_follow_up_res</th>
      <th>label</th>
      <th>f_leads_id</th>
      <th>f_leads_from</th>
      <th>FQQ</th>
      <th>company_name</th>
      <th>FSize</th>
      <th>FCityName</th>
      <th>city_level</th>
      <th>...</th>
      <th>leads_id</th>
      <th>visit_day_num_7</th>
      <th>lvl_visit_day_num</th>
      <th>url_num_7</th>
      <th>lvl_url_num</th>
      <th>wpa_click_num_7</th>
      <th>lvl_wpa_click</th>
      <th>viewtime_7</th>
      <th>lvl_viewtime</th>
      <th>utm_term</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>3.043500e+04</td>
      <td>30435.000000</td>
      <td>30435.000000</td>
      <td>3.043500e+04</td>
      <td>30435.000000</td>
      <td>2.488700e+04</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>30435.0</td>
      <td>...</td>
      <td>1.126500e+04</td>
      <td>11265.000000</td>
      <td>11265.000000</td>
      <td>11265.000000</td>
      <td>11265.000000</td>
      <td>11265.000000</td>
      <td>11265.000000</td>
      <td>11265.000000</td>
      <td>11265.000000</td>
      <td>11265.0</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2.017083e+07</td>
      <td>7.717496</td>
      <td>-0.460095</td>
      <td>5.406773e+06</td>
      <td>23.183243</td>
      <td>1.771587e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>...</td>
      <td>5.406548e+06</td>
      <td>1.139814</td>
      <td>0.103418</td>
      <td>4.332889</td>
      <td>2.148336</td>
      <td>0.058677</td>
      <td>0.058411</td>
      <td>386.582246</td>
      <td>2.093120</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>std</th>
      <td>3.476887e+01</td>
      <td>3.031699</td>
      <td>0.579328</td>
      <td>6.642285e+04</td>
      <td>11.662201</td>
      <td>1.123704e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>...</td>
      <td>1.041560e+04</td>
      <td>0.559239</td>
      <td>0.304517</td>
      <td>3.046364</td>
      <td>0.408661</td>
      <td>0.236161</td>
      <td>0.234529</td>
      <td>1231.348354</td>
      <td>0.455525</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>min</th>
      <td>2.017080e+07</td>
      <td>0.000000</td>
      <td>-1.000000</td>
      <td>6.333400e+05</td>
      <td>7.000000</td>
      <td>0.000000e+00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>...</td>
      <td>5.388660e+06</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>2.017081e+07</td>
      <td>6.000000</td>
      <td>-1.000000</td>
      <td>5.398228e+06</td>
      <td>15.000000</td>
      <td>4.347848e+08</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>...</td>
      <td>5.397907e+06</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>3.000000</td>
      <td>2.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>126.000000</td>
      <td>2.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>2.017082e+07</td>
      <td>6.000000</td>
      <td>-1.000000</td>
      <td>5.407696e+06</td>
      <td>15.000000</td>
      <td>9.863249e+08</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>...</td>
      <td>5.404546e+06</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>4.000000</td>
      <td>2.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>196.000000</td>
      <td>2.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2.017083e+07</td>
      <td>11.000000</td>
      <td>0.000000</td>
      <td>5.417262e+06</td>
      <td>37.000000</td>
      <td>2.069557e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>...</td>
      <td>5.415286e+06</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>5.000000</td>
      <td>2.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>369.000000</td>
      <td>2.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2.017091e+07</td>
      <td>11.000000</td>
      <td>1.000000</td>
      <td>5.427123e+06</td>
      <td>46.000000</td>
      <td>9.874561e+11</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>...</td>
      <td>5.425327e+06</td>
      <td>27.000000</td>
      <td>1.000000</td>
      <td>130.000000</td>
      <td>3.000000</td>
      <td>2.000000</td>
      <td>1.000000</td>
      <td>113411.000000</td>
      <td>4.000000</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
<p>8 rows × 28 columns</p>
</div>

In [15]:
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>f_sys_assign_day</th>
      <th>f_internal_follow_up_res</th>
      <th>f_internal_follow_up_res_name</th>
      <th>label</th>
      <th>f_leads_id</th>
      <th>f_leads_from</th>
      <th>laiyuan</th>
      <th>FTel</th>
      <th>FQQ</th>
      <th>FUserName</th>
      <th>...</th>
      <th>url_num_7</th>
      <th>lvl_url_num</th>
      <th>wpa_click_num_7</th>
      <th>lvl_wpa_click</th>
      <th>viewtime_7</th>
      <th>lvl_viewtime</th>
      <th>utm_term</th>
      <th>utm_source</th>
      <th>utm_medium</th>
      <th>utm_campaign</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>20170804</td>
      <td>2</td>
      <td>A</td>
      <td>1</td>
      <td>5388641</td>
      <td>11</td>
      <td>bqq-PC</td>
      <td>15038713847</td>
      <td>1.683188e+09</td>
      <td>黄爱丽</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20170804</td>
      <td>2</td>
      <td>A</td>
      <td>1</td>
      <td>5388658</td>
      <td>11</td>
      <td>bqq-PC</td>
      <td>15222320226</td>
      <td>6.908644e+08</td>
      <td>潘璟</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>20170804</td>
      <td>2</td>
      <td>A</td>
      <td>1</td>
      <td>5388828</td>
      <td>11</td>
      <td>bqq-PC</td>
      <td>18869914555</td>
      <td>1.048344e+09</td>
      <td>方志清</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>20170804</td>
      <td>2</td>
      <td>A</td>
      <td>1</td>
      <td>5388880</td>
      <td>35</td>
      <td>qd-PC</td>
      <td>18925958612</td>
      <td>4.651634e+07</td>
      <td>黄爱丽</td>
      <td>...</td>
      <td>3.0</td>
      <td>2.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>432.0</td>
      <td>2.0</td>
      <td>0.0</td>
      <td>null</td>
      <td>null</td>
      <td>null</td>
    </tr>
    <tr>
      <th>4</th>
      <td>20170804</td>
      <td>2</td>
      <td>A</td>
      <td>1</td>
      <td>5388948</td>
      <td>11</td>
      <td>bqq-PC</td>
      <td>13607677826</td>
      <td>1.728981e+09</td>
      <td>徐嘉</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 39 columns</p>
</div>

In [19]:
df.dtypes

f_sys_assign_day                   int64
f_internal_follow_up_res           int64
f_internal_follow_up_res_name     object
label                              int64
f_leads_id                         int64
f_leads_from                       int64
laiyuan                           object
FTel                              object
FQQ                              float64
FUserName                         object
company_name                     float64
FSize                            float64
FCityName                        float64
city_level                         int64
age                               object
lvl_age                            int64
is_has_age                         int64
edu                               object
lvl_edu                            int64
is_has_edu                         int64
income                            object
lvl_income                         int64
is_has_income                      int64
sex                               object
lvl_sex                            int64
imp_date                         float64
leads_id                         float64
visit_day_num_7                  float64
lvl_visit_day_num                float64
url_num_7                        float64
lvl_url_num                      float64
wpa_click_num_7                  float64
lvl_wpa_click                    float64
viewtime_7                       float64
lvl_viewtime                     float64
utm_term                         float64
utm_source                        object
utm_medium                        object
utm_campaign                      object
dtype: object