In [23]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [24]:
train = pd.read_csv('./Ghost/train.csv')
test = pd.read_csv('./Ghost/test.csv')

print 'train.shape:', train.shape
print 'test.shape:', test.shape

train.shape: (371, 7)
test.shape: (529, 6)

In [25]:
train.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>bone_length</th>
      <th>rotting_flesh</th>
      <th>hair_length</th>
      <th>has_soul</th>
      <th>color</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0.354512</td>
      <td>0.350839</td>
      <td>0.465761</td>
      <td>0.781142</td>
      <td>clear</td>
      <td>Ghoul</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0.575560</td>
      <td>0.425868</td>
      <td>0.531401</td>
      <td>0.439899</td>
      <td>green</td>
      <td>Goblin</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>0.467875</td>
      <td>0.354330</td>
      <td>0.811616</td>
      <td>0.791225</td>
      <td>black</td>
      <td>Ghoul</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>0.776652</td>
      <td>0.508723</td>
      <td>0.636766</td>
      <td>0.884464</td>
      <td>black</td>
      <td>Ghoul</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>0.566117</td>
      <td>0.875862</td>
      <td>0.418594</td>
      <td>0.636438</td>
      <td>green</td>
      <td>Ghost</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
train.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>bone_length</th>
      <th>rotting_flesh</th>
      <th>hair_length</th>
      <th>has_soul</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>371.000000</td>
      <td>371.000000</td>
      <td>371.000000</td>
      <td>371.000000</td>
      <td>371.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>443.676550</td>
      <td>0.434160</td>
      <td>0.506848</td>
      <td>0.529114</td>
      <td>0.471392</td>
    </tr>
    <tr>
      <th>std</th>
      <td>263.222489</td>
      <td>0.132833</td>
      <td>0.146358</td>
      <td>0.169902</td>
      <td>0.176129</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>0.061032</td>
      <td>0.095687</td>
      <td>0.134600</td>
      <td>0.009402</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>205.500000</td>
      <td>0.340006</td>
      <td>0.414812</td>
      <td>0.407428</td>
      <td>0.348002</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>458.000000</td>
      <td>0.434891</td>
      <td>0.501552</td>
      <td>0.538642</td>
      <td>0.466372</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>678.500000</td>
      <td>0.517223</td>
      <td>0.603977</td>
      <td>0.647244</td>
      <td>0.600610</td>
    </tr>
    <tr>
      <th>max</th>
      <td>897.000000</td>
      <td>0.817001</td>
      <td>0.932466</td>
      <td>1.000000</td>
      <td>0.935721</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
train.describe(include=['object'])

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>371</td>
      <td>371</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>top</th>
      <td>white</td>
      <td>Ghoul</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>137</td>
      <td>129</td>
    </tr>
  </tbody>
</table>
</div>

In [49]:
nrow = train.shape[0]
min_cate = max(10, nrow*0.01)
unique_num = train.nunique(axis=0)
cate_col_num = unique_num[unique_num<=min_cate]
cate_col_name = cate_col_num.index.tolist()
print nrow, min_cate, cate_col_name

for col in cate_col_name:
    train[col] = train[col].astype('category')
    
cate_index = [ id for id,val in enumerate(train.columns.tolist()) if val in cate_col_name ]

371 10 ['color', 'type']

In [48]:
[ train.columns.isin(cate_col_name) ]

[ id for id,val in enumerate(train.columns.tolist()) if val in cate_col_name ]

[5, 6]

In [29]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 7 columns):
id               371 non-null int64
bone_length      371 non-null float64
rotting_flesh    371 non-null float64
hair_length      371 non-null float64
has_soul         371 non-null float64
color            371 non-null category
type             371 non-null category
dtypes: category(2), float64(4), int64(1)
memory usage: 15.6 KB

In [51]:
from sklearn import preprocessing
enc = preprocessing.OneHotEncoder(categorical_features=cate_index)
# enc.fit(train[cate_col_name])
#train[cate_col_name].astype('category')
train['type'] = train['type'].astype('category')
#enc.fit(train[cate_col_name])
train.dtypes
train['type'].cat.categories

Index([u'Ghost', u'Ghoul', u'Goblin'], dtype='object')

In [57]:
cate_col_name = ['color']
dm = pd.get_dummies(train, columns=cate_col_name, drop_first=True)
dm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 11 columns):
id               371 non-null int64
bone_length      371 non-null float64
rotting_flesh    371 non-null float64
hair_length      371 non-null float64
has_soul         371 non-null float64
type             371 non-null category
color_blood      371 non-null uint8
color_blue       371 non-null uint8
color_clear      371 non-null uint8
color_green      371 non-null uint8
color_white      371 non-null uint8
dtypes: category(1), float64(4), int64(1), uint8(5)
memory usage: 16.8 KB